<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search Movie</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="movieCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie?.name" (click)="showDetails(movie?.id)">
        <img class="example-option-img" aria-hidden
          [src]="movie?.image?.medium ? movie?.image?.medium : 'https://via.placeholder.com/103x152.png'" height="80">
        <span>{{movie?.name}}</span>
        <!-- <small>Rating: {{movie?.rating?.average}}</small> -->
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>