.mat-option .mat-option-text img {
  width: 40px;
  height: 40px;
}

::ng-deep mat-option .mat-option-text span {
  font-size: 2em;
  padding: 0 0 10px 10px;
  margin: 0 0 10px 0 !important;
  white-space: nowrap;
}

::ng-deep .mat-option .mat-option-text {
  display: flex !important;
  align-items: center !important;
}

.mat-option {
  line-height: 0 !important;
  height: 100px !important;
}

.example-form {
  width: 50%;
  display: inline-block;
}

.example-full-width {
  width: 100%;
}